@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #09090b;
  color: #ffffff;
  /* Blokuje zoom na iPhone */
  touch-action: manipulation;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #09090b;
  /* Pozwalamy na naturalny scroll, ukrywamy tylko pasek */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Zapobiega przybliżaniu przy klikaniu w pola na iOS */
input, select, textarea {
  font-size: 16px !important;
}

/* Naprawa dla grafik, żeby nie "skakały" */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
